// ----------------------------------------------------------------------------------//
// ICA SCSS File
// David MIchael | March 26, 2019 | Updated: 
// ----------------------------------------------------------------------------------//

$break: 800px;

$dark-grey: #3e3d3f;
$background-color: #405563;
$light-green: #5dc9e6;

.header-container {
  width: 100%;
  background-color: #fff;
}

.logo-container {
  float: left;
  margin: 0;
  padding: 1% 0 1% 2%;
  width: 50%;
  // background-color: $background-color;
  // border-radius: 0 0 0 20px;

  img {
    width: 100%;
  }

  @media screen and (max-width: $break) {
    width: 70%;
    padding: 20px 50px 20px 30px;
    margin: 0 0 30px;
    border-radius: 0 0 0 10px;
  }
}

.site-description {
  font-family: 'Montserrat', sans-serif;
  float: left;
  width: 50%;
  padding: 20px;
  font-size: 3em;
  text-align: center;
  word-spacing: 100vw;
}

.navigation-container {
  // float: left;
  width: 100%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: $break) {
    display: none;
  }
}

.mobile-navigation {
  display: block;
}

.nav li a {
  color: $dark-grey !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 20px 3vw;

  &:hover {
    color: $light-green !important;
    text-decoration: none;
  }
}

.clear {
  clear: both;
}